<!doctype html>
<html>
  <head>
    <script src={{ url_for('static', filename='transition1.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
    <link rel='stylesheet' href="{{ url_for('static', filename='dash.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>  
    <header>
      <a class="back" href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
      <div class="searchbar">
        <form action="/dashboard" name="searchform">
          <input type="text" id="symbol" name="symbol" placeholder="Enter another ticker symbol">
        </form>
      </div>
    </header>

    <div class="transition t2 is-active"></div>
    <main>
      <div class="card-grid">
        <div class="double">
          <div class="card">
            <p>card1 goes here</p>
            <p>Barrick Mining Corporation engages in the exploration, development, production, and sale of mineral properties. The company explores for gold, copper, silver, and energy materials. The company was formerly known as Barrick Gold Corporation and changed its name to Barrick Mining Corporation in May 2025. Barrick Mining Corporation was founded in 1983 and is based in Toronto, Canada.</p>
          </div>
          <div class="card">
            <p>card2 goes here</p>
            <div class="plot" id="candlestick"></div>
          </div>
        </div>
        <div class="double">
          <div class="card">
            <p>card3 goes here</p>
            <div class="plot" id="surf"></div>
          </div>
          <div class="card">
            <p>card4 goes here</p>
            <div class="plot" id="log_r"></div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>footer goes here</p>
    </footer>

  </body>
</html>
